<ion-view title="Meu CD" id="cd_perfil" class=" ">
    <ion-content padding="false" class="has-header">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1828.7677963990761!2d-46.57306634192825!3d-23.549200137343277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5e95c9fbcb79%3A0x5a7afe612b1d3ff2!2sR.+Coelho+Lisboa%2C+556+-+Cidade+M%C3%A3e+do+C%C3%A9u%2C+S%C3%A3o+Paulo+-+SP%2C+03323-040!5e0!3m2!1spt-BR!2sbr!4v1474905649079" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        <!--Meu perfil-->
        <ion-list id="cd-perfil">
            <ion-item class="item-text-wrap">
                <h2>Centro de Distribuição Tatuapé</h2>
            </ion-item>

            <ion-item class="item-icon-left">
                <i class="icon ion-ios-telephone positive"></i> (11) 2227-8610
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-social-whatsapp balanced"></i> (11) 98888-7766
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-email calm"></i> filialtatuape@sweethair.com.br
            </ion-item>
            <ion-item class="item-icon-left item-text-wrap">
                <i class="icon ion-ios-location assertive"></i> Rua Coelho Lisboa 556 sala 2 - Tatuapé
            </ion-item>

            <div class="spacer" style="height: 20px;"></div>


        </ion-list>
    </ion-content>
</ion-view>