<ion-view title="Meu perfil" id="perfil" class=" ">
    <ion-content padding="true" class="has-header">
        <!--Meu perfil-->
        <div class="card " id="meu-perfil">
            <div class="item item-text-wrap text-center">
                <div class="row">
                    <div class="col">
                        <div class="menu-foto-perfil">
                            <img src="img/eduardo_perfil_email.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h2>Eduardo Souza Costa e Silva</h2>
                        <p>São Paulo - SP</p>
                    </div>
                </div>
                <div class="spacer" style="height: 20px;"></div>
                <div class="row">
                    <div class="col">
                        <h2>Centro de Distribuição Tatuapé</h2>
                        <h2>Indicado por Paulo Kazaks</h2>

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>(11) 2227-8600</p>
                        <p>(11) 98888-7766</p>
                        <p>eduardo.costa@gmail.com</p>
                        <p>CPF: 332.444.666-89</p>
                        <p>Rua Coelho Lisboa 556 sala 2 - Tatuapé</p>
                    </div>
                </div>
                <div class="spacer" style="height: 20px;"></div>
                <div class="row">
                    <div class="col">
                        <button class="button button-balanced">
                            EDITAR</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>