<ion-view title="Cliente" id="cliente" class=" ">
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="secondary">

            <button class="button button-clear icon-left button-small">
                <i class="ion-edit"></i> Editar
            </button>

        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content padding="false" class="has-header manual-remove-top-padding">

        <!--  Diretiva que faz a pagina do cliente-->
        <sh-cliente-page cliente-objeto="cliente"></sh-cliente-page>

    </ion-content>
</ion-view>