<ion-view title="Configurações" id="config" class=" ">
    <ion-content padding="false" class="has-header">

        <div class="list">
            <div class="item item-text-wrap">Ao clicar no botão, apagará todos os dados gravados em pedidos e clientes.</div>
            <div class="item">
                <button class="button button-block button-assertive" ng-click="apagaDadosLocalStorage()">Apagar dados</button>
            </div>
            <div class="item item-icon-right" ui-sref="menu.termos">
                Termos e Condições
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item">
                <button class="button button-icon icon ion-log-out" ng-click="logout()"> Sair</button>
            </div>
        </div>




    </ion-content>
</ion-view>