<ion-view title="Aguardando aprovação" id="limbo" class=" " hide-nav-bar="true">
    <ion-content padding="true" class="login-bg">
        <div class="row">
            <div class="col text-center">
                <div style="text-align:center;margin-top:50px;margin-bottom:30px;">
                    <img src="img/logo_sweet_home.png" alt="" style="max-width:80%; width:230px; margin-left:auto; margin-right:auto;">
                </div>
                <h2 style="color:#ccc;">{{nome}}, seu cadastro está aguardando aprovação.</h2>
                <h4 style="color:#ccc;">Por favor aguarde!</h4>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p style="color:#ccc;">Dúvidas?</p>
                <p style="color:#ccc;">Ligue para seu gerente de contas (11) 2227-8610</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="button button-small button-outline " style="color:#ccc; border-color:#ccc;" ng-click="logout()">Voltar mais tarde</button>
            </div>
        </div>


    </ion-content>
</ion-view>