<ion-view title="Novo Cliente" id="novo_cliente_dados" class=" ">
    <form ng-submit="clienteFormGo('dados', novocliente.dados,'menu.novo_cliente_resumo')" id="clienteDadosForm">
        <ion-content padding="false" class="has-header">
            <div ng-switch="cliente_tipo">
                <div class="row row-center cliente_escolher cliente_escolher_salao" style="height: 120px" ng-switch-when="1">
                    <div class="col text-center">
                        <h2 class="escolher_titulo">Salão de Beleza</h2>
                    </div>
                </div>
                <div class="row row-center cliente_escolher cliente_escolher_cabeleireiro" style="height: 120px" ng-switch-when="2">
                    <div class="col text-center">
                        <h2 class="escolher_titulo">Profissional Cabeleireiro(a)</h2>
                    </div>
                </div>
            </div>

            <ion-list>
                <div class="item item-divider item-text-wrap">
                    <i class="ion-information-circled"></i> <b>Tipo de Cliente <span class="campo_obrigatorio">*</span></b>
                </div>

                <ion-radio ng-model="novocliente.dados.pessoa" ng-value="'Salão Pessoa Física'" name="dados">Pessoa Física</ion-radio>
                <ion-radio ng-model="novocliente.dados.pessoa" ng-value="'Salão Pessoa Jurídica'" name="dados">Pessoa Jurídica</ion-radio>
                <div ng-if="novocliente.dados.pessoa == 'Salão Pessoa Física'">
                    <div class="item item-divider item-text-wrap">
                        <b>Dados de faturamento</b>
                    </div>
                    <label class="item item-input">
                        <span class="input-label">CPF <span class="campo_obrigatorio">*</span></span>
                        <input type="tel" name="clientedadoscpf" ng-model="novocliente.dados.cpf" mask="999.999.999-99">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">RG <span class="campo_obrigatorio">*</span></span>
                        <input type="text" name="clientedadosrg" ng-model="novocliente.dados.rg" mask="99.999.999-w?w">
                    </label>
                </div>
                <div ng-if="novocliente.dados.pessoa == 'Salão Pessoa Jurídica'">
                    <div class="item item-divider item-text-wrap">
                        <b>Qual o tipo de empresa?</b>
                    </div>
                    <ion-radio ng-model="novocliente.dados.cat_empresa" ng-value="'MEI'" name="cat_empresa">MEI</ion-radio>
                    <ion-radio ng-model="novocliente.dados.cat_empresa" ng-value="'Simples Nascional'" name="cat_empresa">Simples</ion-radio>
                    <ion-radio ng-model="novocliente.dados.cat_empresa" ng-value="'EPP'" name="cat_empresa">EPP</ion-radio>
                    <div class="item item-divider item-text-wrap">
                        <b>Dados de faturamento</b>
                    </div>
                    <label class="item item-input">
                        <span class="input-label">Razão Social</span>
                        <input type="text" name="clientedadosrazaosocial" ng-model="novocliente.dados.razao_social">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">CNPJ <span class="campo_obrigatorio">*</span></span>
                        <input type="tel" name="clientedadoscnpj" ng-model="novocliente.dados.cnpj" mask="99.999.999/9999-99">
                    </label>

                    <div class="item item-divider item-text-wrap">
                        <b>Possui Inscrição Estadual?</b>
                    </div>
                    <ion-radio ng-model="possui_insc" ng-value="'Sim'" name="insc_estadual">Sim</ion-radio>
                    <ion-radio ng-model="possui_insc" ng-value="'Não, sou isento'" name="insc_estadual" checked>Não, sou isento</ion-radio>

                    <div ng-if="possui_insc == 'Sim'">
                        <label class="item item-input">
                            <span class="input-label">Insc. Estatal <span class="campo_obrigatorio">*</span></span>
                            <input type="tel" name="clientedadosinscestadual" ng-model="novocliente.dados.insc_estadual" ng-if="possui_insc == 'Sim'">
                        </label>
                    </div>
                    <input type="hidden" name="clientedadosinscestadual" ng-model="novocliente.dados.insc_estadual" ng-if="possui_insc == 'Não, sou isento'" value="Isento" ng-init="novocliente.dados.insc_estadual = 'Isento'">

                </div>

            </ion-list>
            <!--<input type="hidden" name="clientedadosstatus" ng-model="novocliente.dadis.status" ng-init="novocliente.dados.status = true">-->
        </ion-content>
        <!--footer-->
        <ion-footer-bar class="bar" id="novocliente-button-footer" keyboard-attach>
            <div class="botao-left">
                <a class="button button-clear" ng-click="cancelarnovocliente()">Cancelar</a>
            </div>
            <div class="botao-right">
                <button type="submit" form="clienteDadosForm" class="button button-clear pull-right icon-right ion-ios-arrow-forward" ng-disabled="!novocliente.dados.pessoa || !novocliente.dados.cpf && !novocliente.dados.cnpj">Próximo</button>
            </div>
        </ion-footer-bar>

    </form>
</ion-view>