<!--Detalhes do pedido-->
<ion-list id="pedido-resumo-list">
    <ion-item class="pedido-barrinha pendente">
        <div class="row">
            <div class="col">
                <h2 class="pedido_numero"><strong>Pedido nº 2479</strong></h2>
                <p>status: pendente</p>
            </div>
        </div>
    </ion-item>
    <ion-item class="item-text-wrap">
        <div class="row">
            <div class="col">
                <p><strong>Data:</strong> 25/06/2016</p>
                <p><strong>Prazo de entrega:</strong> <span class="assertive">30/06/2016</span></p>
                <p><strong>Forma de pagamento:</strong> boleto</p>
                <p><strong>Cond. de pagamento:</strong> a vista</p>
                <p><strong>Num. parcelas:</strong> 1</p>
                <p><strong>Obs:</strong> Está é uma observação feita no app, eu só quis dizer.</p>
            </div>
        </div>
    </ion-item>
</ion-list>
<div class="spacer" style="height: 16px;"></div>

<!--        Resumo valores-->
<ion-list id="pedido-resumo-detalhes">
    <ion-item>
        <div class="pedido-list-col-1">
            Quant. Produtos:
        </div>
        <div class="pedido-list-col-2">
            <span><strong>6</strong></span>
        </div>
    </ion-item>
    <ion-item>
        <div class="pedido-list-col-1">
            Subtotal:
        </div>
        <div class="pedido-list-col-2">
            <span><strong>R$ 140,00</strong></span>
        </div>
    </ion-item>
    <ion-item>
        <div class="pedido-list-col-1">
            Descontos: <span class="pedido-obs">5%</span>
        </div>
        <div class="pedido-list-col-2">
            <span class="assertive">-R$ 7,00</span>
        </div>
    </ion-item>
    <ion-item>
        <div class="pedido-list-col-1">
            Total:
        </div>
        <div class="pedido-list-col-2">
            <span class="balanced"><strong>R$ 137,00</strong></span>
        </div>
    </ion-item>
    <ion-item>
        <div class="pedido-list-col-1">
            Comissão: <span class="pedido-obs">desta venda</span>
        </div>
        <div class="pedido-list-col-2">
            R$ 42,00
        </div>
    </ion-item>
</ion-list>
<div class="spacer" style="height: 16px;"></div>
<!--        Resumo Produtos-->
<ion-list id="produtos-list">
    <ion-item class="item-thumbnail-left corrige-padding">
        <img class="produto-in-list" src="img/produtos/produto_thumb.jpg">
        <h2>1016 - Shampoo Reconstrução 250ml</h2>
        <p>Valor: R$ 30,00
            <br />Quant. 10
            <br /><strong>Total: R$ 300,00</strong></p>
    </ion-item>
    <ion-item class="item-thumbnail-left corrige-padding">
        <img class="produto-in-list" src="img/produtos/produto_thumb.jpg">
        <h2>1016 - Shampoo Reconstrução 250ml</h2>
        <p>Valor: R$ 30,00
            <br />Quant. 10
            <br /><strong>Total: R$ 300,00</strong></p>
    </ion-item>
    <ion-item class="item-thumbnail-left corrige-padding">
        <img class="produto-in-list" src="img/produtos/produto_thumb.jpg">
        <h2>1016 - Shampoo Reconstrução 250ml</h2>
        <p>Valor: R$ 30,00
            <br />Quant. 10
            <br /><strong>Total: R$ 300,00</strong></p>
    </ion-item>
    <ion-item class="item-thumbnail-left corrige-padding">
        <img class="produto-in-list" src="img/produtos/produto_thumb.jpg">
        <h2>1016 - Shampoo Reconstrução 250ml</h2>
        <p>Valor: R$ 30,00
            <br />Quant. 10
            <br /><strong>Total: R$ 300,00</strong></p>
    </ion-item>

</ion-list>