<ion-view title="Pedido 2479" id="pedido_resumo" class=" ">
    <div class="bar bar-subheader bar-dark" ng-if="pedidoInCliente">
        <div class="title title-left" style="width:75%;">
            Salão do Tonhão Frufru Parar de olhar
        </div>
        <button class="button button-clear" ng-click="doSomething()">
            <i class="icon ion-android-open"></i>
        </button>
    </div>
    <ion-content padding="false" class="has-subheader manual-remove-top-padding">


    </ion-content>
</ion-view>