<!-- Produtos -->
<div class="list card manual-card-fullwidth manual-card-margin-top-remove  manual-card-margin-bottom-remove padding">
    <div class="item item-input-inset">
        <label class="item-input-wrapper">
            <input type="text" placeholder="buscar">
        </label>
        <button class="button button-small button-clear">
            Cancelar
        </button>
    </div>
</div>
<ion-list id="produtos-list">
    <ion-item class="item-thumbnail-left corrige-padding">
        <img class="produto-in-list" src="img/produtos/produto_thumb.jpg">
        <h2>Shampoo Reconstrução 250ml</h2>
        <p>Valor: R$ 30,00
            <br />Quant. 10</p>
    </ion-item>


    <ion-item class="item-thumbnail-left" ng-href="#/side-menu/cliente/{{cliente.id}}">
        <img class="produto-in-list" src="img/produtos/produto_thumb.jpg">
        <h2>1016 - Shampoo Reconstrução 250ml</h2>
        <p>Valor: R$ 30,00
            <br />Quant. 10</p>
    </ion-item>


    <ion-item class="item-thumbnail-left" ng-href="#/side-menu/cliente/{{cliente.id}}">
        <img class="produto-in-list" src="img/produtos/produto_thumb.jpg">
        <h2>1016 - Shampoo Reconstrução 250ml</h2>
        <p>Valor: R$ 30,00
            <br />Quant. 10</p>
    </ion-item>

    <ion-item class="item-thumbnail-left" ng-href="#/side-menu/cliente/{{cliente.id}}">
        <img class="produto-in-list" src="img/produtos/produto_thumb.jpg">
        <h2>1016 - Shampoo Reconstrução 250ml</h2>
        <p>Valor: R$ 30,00
            <br />Quant. 10</p>
    </ion-item>


    <ion-item class="item-thumbnail-left" ng-href="#/side-menu/cliente/{{cliente.id}}">
        <img class="produto-in-list" src="img/produtos/produto_thumb.jpg">
        <h2>1016 - Shampoo Reconstrução 250ml</h2>
        <p>Valor: R$ 30,00
            <br />Quant. 10</p>
    </ion-item>
</ion-list>